<% expands('flows/edit') %>

<% start('flow-edit-object') %>

<div id="flow-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Edit flow block</h3>
  </div>
  <div id="flow-modal-body" class="modal-body">
    <% assign('flow-edit-modal-body') %>
  </div>
  <div class="modal-footer">
    <button id="flow-block-close" data-dismiss="modal" class="btn">Close</button>
    <button id="flow-block-save" class="btn btn-primary">Save changes</button>
  </div>
</div>

<% end('flow-edit-object') %>
