<% expands('blocks/edit') -%>

<% start('scenario-edit-modal-body') -%>
<% fieldSelect('actions', {elements: actions, null: 'Select action', valueField: 'name'}) %>

<div class="flux">
	
</div>

<% end('scenario-edit-modal-body') -%>
