<% expands('layout/body-main') %>

<% set_block('title', 'Doek') %>
<% set_title('Doek') %>

<% start('container-fluid') %>
<div class="row-fluid">
	<div id="doeksidebar" class="well span4">
		<div class="selects elements">
			<%
				fieldSelect('rooms', {
					elements: rooms,
					valueField: '_id',
					titleField: 'name',
					null: ' -- Rooms -- '
				})
			%>
			<%
				fieldSelect('elements', {
					elements: elements,
					valueField: '_id',
					titleField: 'name',
					null: ' -- Room Elements -- '
				})
			%>
			<div class="clear"></div>
		</div>
		<div class="edit element">
			<h4>Edit element</h4>
			<form id="editElement">
				<% fieldInput('_id', {type: 'hidden'}) %>
				<% fieldInput('name', {ghost: 'Name'}) %>
				<%
					fieldSelect('room_id', {
						elements: rooms,
						valueField: '_id',
						titleField: 'name',
						label: false,
						null: ' -- Room -- '
					})
				%>
				<% fieldInput('element_type', {ghost: 'Element Type'}) %>
				<div class="control-group">
					<select id="type_external_id" name="type_external_id"></select>
				</div>
				<% fieldInput('x', {ghost: 'X', prepend: 'X'}) %>
				<% fieldInput('y', {ghost: 'Y', prepend: 'Y'}) %>
				<% fieldInput('dx', {ghost: 'DX', prepend: 'DX'}) %>
				<% fieldInput('dy', {ghost: 'DY', prepend: 'DY'}) %>
				<button class="btn btn-success" id="saveElement" ><i class="icon-hdd"></i> Save</button>
			</form>
		</div>
	</div>
	<div id="doekContainer" class="span8">
		<div id="toolbar">
			<div class="btn-group" data-toggle-name="doek_mode" data-elric-function="buttonChange" data-toggle="buttons-radio" >
				<button type="button" value="select" class="btn" data-toggle="button">Select</button>
				<button type="button" value="changesize" class="btn" data-toggle="button">Change Size</button>
			</div>
			<div class="btn-nongroup">
				<div class="btn-group">
					<button class="btn btn-primary" data-target="addElementType" data-elementType="wall"><i class="icon-plus-sign"></i> Add wall</button>
					<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<% doekETMenu(elementTypes) %>
					</ul>
				</div>
				
				<button class="btn btn-success" id="savemap" ><i class="icon-hdd"></i> Save all</button>
			</div>
			<input type="hidden" name="doek_mode" value="0" />
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div id="map" data-width=1000 data-height=500></div>
	</div>
	
</div>

<% end('container-fluid') %>