[submodule "public/js/doek"]
	path = public/js/doek
	url = git@github.com:skerit/doek.git
[submodule "public/js/pnotify"]
	path = public/js/pnotify
	url = git://github.com/sciactive/pnotify.git
[submodule "public/js/cookie"]
	path = public/js/cookie
	url = git://github.com/carhartl/jquery-cookie.git
[submodule "hawkejs"]
	path = hawkejs
	url = git@github.com:skerit/hawkejs.git
