<% update_url(Router.routeUrl('chimera@ActionLink', {controller: 'Client', action: 'detail'}, {get: {id: ''+client._id}})) %>

<x-panel class="panel-third">
	<!--<x-panel-overlay>TEST</x-panel-overlay>-->
	<x-panel-header><%= client.hostname %></x-panel-header>
	<x-panel-actions>
		<% live('client.enabled', function gotVal(enabled) { %>
			<x-switch title="Toggle client" <% if (client.enabled) print('checked') %>></x-switch>
		<% }) %>
	</x-panel-actions>
	<x-panel-body>
		<% implement('elements/client_info', {wrap: false}) %>

		<% live('client.authorized', function gotVal(authorized) {
			if (!authorized) { %>
				<button data-update-request="post" name="authorize" class="btn btn-success client-auth-button">
					<i><%= Media.svg('lightning') %></i>Authorize
				</button>
			<% } else { %>
				<% Router.printRoute('chimera@IdActionLink', {
					controller: 'Client',
					action: 'configure',
					id: client._id
				}, {
					className: 'btn btn-success client-config-button',
					title: 'Configure',
					content: '<i>' + Media.svg('gears') + '</i>Configure'
				}) %>
			<% }
		}) %>
		
	</x-panel-body>
</x-panel>