<%
// Get the main document
if (ccap.ClientCapability) {
	ccap = ccap.ClientCapability;
}

// Set this block's update url
update_url(Router.routeUrl(
	'chimera@ActionLink',
	{controller: 'Client', action: 'capability'},
	{get: {id: ''+ccap._id}})
);
%>
<x-panel>
	<x-panel-header>
		<% if (ccap.capability) { %>
			<%= ccap.capability.title %>
		<% } else { %>
			<%= ccap.name %>
		<% } %>
	</x-panel-header>
	<x-panel-actions>
		<% if (!ccap.capability || !ccap.capability.always_enabled) { %>
			<% live('ccap.enabled', function gotVal(enabled) { %>
				<al-switch data-update-request="post" name="enable" title="Toggle capability" <% if (ccap.enabled) print('checked') %>></al-switch>
			<% }) %>
		<% } %>
	</x-panel-actions>
	<x-panel-body>
		<% if (ccap.capability) { %>
			<% implement([ccap.capability.config_element, 'elements/client_capability_default_content'], null, {config: ccap}) %>
		<% } else { %>
			<p>This capability appears to have been disabled.</p>
		<% } %>
	</x-panel-body>
</x-panel>