.clear {
  clear: both;
  float: none !important;
}
#doekContainer #map {
  border: 1px solid black;
}
#doekContainer #toolbar {
  margin-bottom: 5px;
}
#doekContainer #toolbar > div {
  margin-right: 5px;
  float: left;
}
.doeksidebar {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
.doeksidebar h4 {
  border-bottom: 1px solid;
  margin: 5px 0 !important;
}
.doeksidebar .edit.element {
  display: none;
}
.doeksidebar .selects .control-group {
  margin-bottom: 0;
}
.input-prepend .add-on,
.input-append .add-on {
  width: 25px !important;
}
.input-prepend input,
.input-append input {
  width: 170px !important;
}
