<% expands('layout/body-admin') %>

<% start('admin-main') %>
<div class="adminActionHead">
  <span class="title" id="mainTitle"><%= titleName %>: Add new record</span>
  <div class="clear"></div>
</div>

<div class="error"></div>

<form id="newRecord" data-model="<%= modelName %>">
	<table class="table table-striped table-bordered">
		<% for (var i in fields) { %>
		<% var field = fields[i] %>
		<tr>
			<td><%= field %></td>
			<td><% adminField(field, {selects: selects, blueprint: blueprint}) %></td>
		</tr>
		<% } %>
	</table>
</form>

<button class="btn btn-primary" id="saveNew" data-model="<%= modelName %>">Save new record</button>

<% end('admin-main') %>