<% expands('layout/admin-main') %>

<% start('admin-main') %>
<div class="adminActionHead">
  <span class="title" id="mainTitle"><%= modelName %>: Index</span>
  <div class="buttons">
    <button class="btn btn-primary" id="addNew" data-model="{modelName}">Add new</button>
  </div>
  <div class="clear"></div>
</div>
<table class="table table-striped table-bordered">
  <tr>
     for (var i in fields) {
    <th>i </th>
     } 
    <th>Actions</th>
  </tr>
 {#items fields=options.fields}
  <tr>
    {#fields item=.}
    <td>{@getitem item=item field=. /}</td>
    {/fields}
    <td><!-- actions -->
      <a class="btn btn-small editButton" href="#"  data-model="{modelName}" data-id="{._id}"><i class="icon-pencil"></i></a>
    </td>
  </tr>
  {/items}
</table>
<% end('admin-main') %>