<% expands('layout/body-admin') %>

<% start('admin-main') %>
<div class="adminActionHead">
  <span class="title" id="mainTitle"><%= modelName %>: Index</span>
  <div class="buttons">
    <% add_link('/admin/:modelname/add', {title: 'Add new', class: 'btn btn-primary', prepend: '<i class="icon-plus"></i> ', urlvars: {modelname: modelName}}) %>
  </div>
  <div class="clear"></div>
</div>
<table class="table table-striped table-bordered">
  <tr>
    <% for (var i in fields) { %>
    <th><%= fields[i] %></th>
    <% } %>
    <th>Actions</th>
  </tr>
 <% for (var i in items) { %>
  <% var item = items[i] %>
  <tr>
    <% for (var f in fields) { %>
    <td><%= item[fields[f]] %></td>
    <% } %>
    <td>
      <% add_link('/admin/:modelname/edit/:id', {title: 'Edit', class: 'btn btn-small editButton', content: '<i class="icon-pencil"></i> ', urlvars: {modelname: modelName, id: item._id}}) %>
    </td>
  </tr>
  <% } %>
</table>
<% end('admin-main') %>