<% expands('layout/body-admin') %>

<% start('admin-main') %>
<div class="adminActionHead">
  <span class="title" id="mainTitle"><%= modelName %>: Index</span>
  <div class="buttons">
    <button class="btn btn-primary" id="addNew" data-model="{modelName}">Add new</button>
  </div>
  <div class="clear"></div>
</div>
<table class="table table-striped table-bordered">
  <tr>
    <% for (var i in fields) { %>
    <th><%= fields[i] %></th>
    <% } %>
    <th>Actions</th>
  </tr>
 <% for (var i in items) { %><!-- fields=options.fields} -->
  <% var item = items[i] %>
  <tr>
    <% for (var f in fields) { %> <!-- {#fields item=.} -->
    <td><%= item[fields[f]] %><!-- {@getitem item=item field=. /} --></td>
    <% } %>
    <td><!-- actions -->
      <% add_link('/admin/:modelname/edit/:id', {title: 'Edit', class: 'btn btn-small editButton', content: '<i class="icon-pencil">', urlvars: {modelname: modelName, id: item._id}}) %>
    </td>
  </tr>
  <% } %>
</table>
<% end('admin-main') %>