<% expands('layout/body-flows') %>

<% set_block('title', 'Flows') %>
<% set_title('Flows') %>

<% start('flow-main') %>

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Action</th>
	</tr>
	<% for (var i in flows) { %>
		<% var flow = flows[i] %>
		<tr>
			<td><%= flow.name %></td>
			<td>
				<% add_link('/flow/edit/' + flow._id, {title: 'Edit', class: 'btn btn-success', prepend: '<i class="icon-pencil"></i> '}) %>
			</td>
		</tr>
	<% } %>
</table>

<% add_link('/flow/add', {title: 'Add new', class: 'btn btn-primary', prepend: '<i class="icon-plus"></i> '}) %>

<% end('flow-main') %>