<% expands('layouts/admin_main');

// Always add the bootstrap js files
asset.script([
	'doek/jquery.mousewheel',
	'doek/doek',
	'doek/doek.canvas',
	'doek/doek.layer',
	'doek/doek.object',
	'doek/doek.node',
	'doek/doek.node.line',
	'doek/doek.node.rectangle',
	'doek/doek.event',
	'doek/doek.action',
	'doek.nodes',
	'mainDoek',
	'doek.actions'
	], {block: 'head'});

asset.style('elric', {block: 'head'});

set_block('title', 'Doek');
set_title('Doek');

emit('doekview', {urls: urls, rooms: rooms, elements: elements, elementTypes: elementTypes});

start(store('chimera-view-setting').contentblock) %>
<div class="row">
	<div id="doeksidebar" class="well col-md-4">
		<div class="selects elements">
			<%
				form.fieldSelect('rooms', {
					elements: rooms,
					valueField: '_id',
					titleField: 'name',
					null: ' -- Rooms -- '
				})
			%>
			<%
				form.fieldSelect('elements', {
					elements: elements,
					valueField: '_id',
					titleField: 'name',
					null: ' -- Room Elements -- '
				})
			%>
			<div class="clear"></div>
		</div>
		<div class="edit element">
			<h4>Edit element</h4>
			<form id="editElement">
				<% form.fieldInput('_id', {type: 'hidden'}) %>
				<% form.fieldInput('name', {ghost: 'Name'}) %>
				<%
					form.fieldSelect('room_id', {
						elements: rooms,
						valueField: '_id',
						titleField: 'name',
						label: false,
						null: ' -- Room -- '
					})
				%>
				<% form.fieldInput('element_type', {ghost: 'Element Type'}) %>
				<div class="control-group">
					<select id="type_external_id" name="data[type_external_id]"></select>
				</div>
				<% form.fieldInput('x', {ghost: 'X', prepend: 'X'}) %>
				<% form.fieldInput('y', {ghost: 'Y', prepend: 'Y'}) %>
				<% form.fieldInput('dx', {ghost: 'DX', prepend: 'DX'}) %>
				<% form.fieldInput('dy', {ghost: 'DY', prepend: 'DY'}) %>
				<button class="btn btn-success" id="saveElement" ><i class="fa fa-hdd"></i> Save</button>
			</form>
		</div>
	</div>
	<div id="doekContainer" class="col-md-8">
		<div id="toolbar">
			<div class="btn-group" data-toggle-name="doek_mode" data-elric-function="buttonChange" data-toggle="buttons-radio" >
				<button type="button" value="select" class="btn" data-toggle="button">Select</button>
				<button type="button" value="changesize" class="btn" data-toggle="button">Change Size</button>
			</div>
			<div class="btn-nongroup">
				<div class="btn-group">
					<button class="btn btn-primary" data-target="addElementType" data-elementType="wall"><i class="fa fa-plus-sign"></i> Add wall</button>
					<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<% doekETMenu(elementTypes) %>
					</ul>
				</div>
				
				<button class="btn btn-success" id="savemap" ><i class="fa fa-hdd"></i> Save all</button>
			</div>
			<input type="hidden" name="doek_mode" value="0" />
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div id="map" data-width=1000 data-height=500></div>
	</div>
	
</div>
<% end(store('chimera-view-setting').contentblock) %>