<% matchIns = {class: 'active', parent: {class: 'active'}} -%>

<div id="sidebar">
	<div class="wrapper">
		<ul>
			<li><% add_link('/clients', {title: 'Dashboard', content: '<i class="icon icon-dashboard"></i> <span>Dashboard</span>', match: {parent: {class: 'active'}}}) %></li>
			<% print_element('elements/menulinks', {variables: {links: links, match: matchIns}}) %>
		</ul>
	</div>
</div>