<% implement('layouts/chimera') %>
<% style('elric-chimera') %>

<% start('chimera-status') %>
<% end('chimera-status') %>

<% start('chimera-cage') %>
<div class="chimera-client-index">
<% for (i = 0; i < clients.length; i++) { %>
	<% client = clients[i].Client %>
	<% print_element('elements/client_panel', {client: client}) %>
<% } %>
</div>
<% end('chimera-cage') %>