<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<% this.foundation({protoblast: true}) %>
	</head>
	<body>
		<% assign('body') %>
		<% this.bottom() %>
	</body>
</html>