<!DOCTYPE html>
<html>
	<head>
		<% this.foundation({protoblast: true}) %>
		<% script('//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js') %>
		<% style('elric') %>
	</head>
	<body>
		<% assign('body') %>
	</body>
</html>
