<% expands('layout/body-scenarios') %>

<% set_block('title', 'Scenarios') %>
<% set_title('Scenarios') %>

<% start('scenario-main') %>

<div id="scenarioview">

</div>

<div id="scenariobuttons">
	<div class="btn-nongroup">
		<input id="scenarioname" name="scenarioname" type="text" placeholder="Scenario name" value="<%= scenario_name %>"><br/>
		<div class="btn-group">
			<button class="btn btn-primary" data-target="addElementType" data-elementType="wall"><i class="icon-plus-sign"></i> Add block</button>
			<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#" data-target="addScenarioBlock" data-scenario-block="entrance">Add scenario entrance</a></li>
				<li><a href="#" data-target="addScenarioBlock" data-scenario-block="activity">Add activity</a></li>
				<li><a href="#" data-target="addScenarioBlock" data-scenario-block="conditional">Add conditional</a></li>
				<li><a href="#" data-target="addScenarioBlock" data-scenario-block="action">Add action</a></li>
				<li><a href="#" data-target="addScenarioBlock" data-scenario-block="valuesetter">Add value setter</a></li>
				<li><a href="#" data-target="addScenarioBlock" data-scenario-block="scenario">Add scenario</a></li>
			</ul>
		</div>
		
		<button class="btn btn-success" id="savescenario" ><i class="icon-hdd"></i> Save</button>
	</div>
	<input type="hidden" name="doek_mode" value="0" />
	<div class="clear"></div>
</div>

<% assign('scenario-edit-object') %>
<% end('scenario-main') %>
