<% expands('layout/body-scenarios') %>

<% set_block('title', 'Scenarios') %>
<% set_title('Scenarios') %>

<% start('scenario-main') %>

<table class="table table-bordered table-striped">
	<tr>
		<th>Name</th>
		<th>Action</th>
	</tr>
	<% for (var i in scenarios) { %>
		<% var scenario = scenarios[i] %>
		<tr>
			<td><%= scenario.name %></td>
			<td>
				<% add_link('/scenario/edit/' + scenario._id, {title: 'Edit', class: 'btn btn-success', prepend: '<i class="icon-pencil"></i> '}) %>
			</td>
		</tr>
	<% } %>
</table>

<% add_link('/scenario/add', {title: 'Add new', class: 'btn btn-primary', prepend: '<i class="icon-plus"></i> '}) %>

<% end('scenario-main') %>