<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% style('/stylesheets/style.css') -%>
    <% script('/js/jquery/jquery.js', {destination: 'top'}) -%>
		<% script('/js/jquery/jquery-ui.js', {destination: 'top'}) -%>
    <% script('/js/history.js', {destination: 'top'}) -%>
    <% script('/js/cookie/jquery.cookie.js', {destination: 'top'}) -%>
    <% script('/js/jquery/jquery.timeago.js') -%>
    <% script('/js/jquery/jquery.jsonify.js') -%>
    <% script('/js/bootstrap/bootstrap-transition.js') -%>
    <% script('/js/bootstrap/bootstrap-alert.js') -%>
    <% script('/js/bootstrap/bootstrap-modal.js') -%>
    <% script('/js/bootstrap/bootstrap-dropdown.js') -%>
    <% script('/js/bootstrap/bootstrap-scrollspy.js') -%>
    <% script('/js/bootstrap/bootstrap-tab.js') -%>
    <% script('/js/bootstrap/bootstrap-tooltip.js') -%>
    <% script('/js/bootstrap/bootstrap-popover.js') -%>
    <% script('/js/bootstrap/bootstrap-button.js') -%>
    <% script('/js/bootstrap/bootstrap-collapse.js') -%>
    <% script('/js/bootstrap/bootstrap-carousel.js') -%>
    <% script('/js/bootstrap/bootstrap-typeahead.js') -%>
    <script type="text/javascript">
      var Elric = {};
      Elric.exposed = {};
    </script>
  </head>
  <body>
    <% assign('main') %>
  </body>
</html>
