<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% style('/stylesheets/style.css') -%>
    <% script('/js/jquery-1.8.3.min.js') -%>
    <% script('/js/history.js') -%>
    <% script('/js/cookie/jquery.cookie.js') -%>
    <% script('/js/cookie/jquery.cookie.js') -%>
    <% script('/js/jquery.jsonify-0.2.min.js') -%>
    <% script('/socket.io/socket.io.js') -%>
    <% script('/js/bootstrap/bootstrap-transition.js') -%>
    <% script('/js/bootstrap/bootstrap-alert.js') -%>
    <% script('/js/bootstrap/bootstrap-modal.js') -%>
    <% script('/js/bootstrap/bootstrap-dropdown.js') -%>
    <% script('/js/bootstrap/bootstrap-scrollspy.js') -%>
    <% script('/js/bootstrap/bootstrap-tab.js') -%>
    <% script('/js/bootstrap/bootstrap-tooltip.js') -%>
    <% script('/js/bootstrap/bootstrap-popover.js') -%>
    <% script('/js/bootstrap/bootstrap-button.js') -%>
    <% script('/js/bootstrap/bootstrap-collapse.js') -%>
    <% script('/js/bootstrap/bootstrap-carousel.js') -%>
    <% script('/js/bootstrap/bootstrap-typeahead.js') -%>
    <% script('/js/pnotify/jquery.pnotify.min.js') -%>
    <% style('/js/pnotify/jquery.pnotify.default.css', {attributes: {media: 'all', rel: 'stylesheet'}}) -%>
    <% script('/js/elric.js', 'bottom') -%>
    <% script('/js/doek/jquery.mousewheel.js', {destination: 'bottom'}) -%>
    <% script('/js/doek/doek.js', {destination: 'bottom'}) -%>
    <% script('/js/doek/doek.canvas.js', {destination: 'bottom'}) -%>
    <% script('/js/doek/doek.layer.js', {destination: 'bottom'}) -%>
    <% script('/js/doek/doek.object.js', {destination: 'bottom'}) -%>
    <% script('/js/doek/doek.node.js', {destination: 'bottom'}) -%>
    <% script('/js/doek/doek.node.line.js', {destination: 'bottom'}) -%>
    <% script('/js/doek/doek.node.rectangle.js', {destination: 'bottom'}) -%>
    <% script('/js/doek/doek.event.js', {destination: 'bottom'}) -%>
    <% script('/js/doek/doek.action.js', {destination: 'bottom'}) -%>
    <% script('/js/doek.nodes.js', {destination: 'bottom'}) -%>
    <% script('/js/mainDoek.js', {destination: 'bottom'}) -%>
    <% script('/js/doek.actions.js', {destination: 'bottom'}) -%>
    <script type="text/javascript">
      var Elric = {};
      Elric.exposed = {};
    </script>
  </head>
  <body>
    <% assign('main') %>
  </body>
</html>
