<% expands('layout/body-all') -%>

<% start('sidebar') -%>
	<% implement('elements/sidebar') -%>
<% end('sidebar') -%>

<% start('container-fluid') -%>
<div class="row-fluid">
	
	<div class="span12">
		<div id="error"></div>
		<% assign('scenario-main') -%>
	</div>
	
</div>

<script src="/js/jquery/jquery.jsplumb.js" type="text/javascript"></script>
<script src="/js/scenarios.js" type="text/javascript"></script>
<link rel="stylesheet" href="/stylesheets/scenarios.css" />

<% end('container-fluid') -%>