<% expands('layout/base') %>
<% start('main') %>
	<% implement('elements/topbar') %>
	<% implement('elements/sidebar') %>
	<div id="content">
		<div class="container-fluid">
			<% assign('container-fluid') %>
		</div>
	</div>
<% end('main') %>