<% expands('layout/body-all') %>

<% start('sidebar') %>
	<% implement('admin/sidebar') %>
<% end('sidebar') %>

<% set_block('title', 'Admin') %>
<% set_title('Admin') %>

<% start('container-fluid') %>

<div class="row-fluid">
	
	<div class="span12">
		<div id="error"></div>
		<% assign('admin-main') %>
	</div>
	
</div>
<link rel="stylesheet" href="/stylesheets/admin.css" />
<script src="/js/admin.js" type="text/javascript"></script>

<% end('container-fluid') %>