<% expands('layout/base') %>

<% start('main') %>
	<% implement('elements/topbar') %>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">

				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Sidebar</li>
						<li class="active"><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li class="nav-header">Sidebar</li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li class="nav-header">Sidebar</li>
						<li><a href="#">Link</a></li>
						<li><a href="#">Link</a></li>
						<li><a href="#"><%= new Date().getTime() %></a></li>
					</ul>
				</div><!--/.well -->

			</div><!--/span-->
			
			<div class="span10">

			</div>
		</div>
	</div>
<% end('main') %>