<% expands('layout/body-all') %>

<% start('sidebar') %>
	<% implement('client/sidebar') %>
<% end('sidebar') %>

<% set_block('title', 'Client') %>
<% set_title('Client') %>

<% start('container-fluid') %>

<div class="row-fluid">
	
	<div class="span12">
		<div id="error"></div>
		<% assign('client-main') %>
	</div>
	
</div>
<link rel="stylesheet" href="/stylesheets/client.css" />
<script src="/js/client.js" type="text/javascript"></script>

<% end('container-fluid') %>