<% expands('layouts/body') %>

<% script('test') %>

<% start('main') %>
<canvas id="mycanvas" width=700 height=600 style="border:1px solid black;margin:1rem;background:white;"></div>
<% end('main') %>
